/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/
* {
    margin: 0;
    padding: 0;
}

#black
{
    color: #000000;
}
#white
{
    color: #ffffff;
}

a:link {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #FF0000;
}

a:visited {
    color: #000000;
}

body {
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    font: 13px Arial, Helvetica, sans-serif;
    color: #333333;
}

#main
{
    background: #ffffff;
}

#header {
    height: 64px;
    background: url(images/header2.gif) repeat-x;
}

#logo {
    float: left;
    color: #ffffff;
}

#logo h1 {
    padding-top: 12px;
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
}


#logo h2 {
    margin-top: 5px;
    margin-left: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
}

#logo h2 a {
}

#logo a {
    text-decoration: none;
    color: #ffffff;
}

#subtitle {
    font-size: 18px;
    font-weight: normal;
}

#metamorph { 
    font-size: 14px;
    color: #ffffff;
}

#menu {
    float: left;
    margin-left: 0px;
    width: 100%;
    background: url(images/buttons.gif) repeat-x;
}

#menu ul {
    margin: 0;
    margin-left: 10px;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    display: block;
    float: left;
    width: 120px;
    height: 26px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#menu a:hover {
    background: url(images/buttons_r.gif) repeat-x;
    text-decoration: underline;
}

#content
{
}

#left
{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
}

#left a:hover
{
    color: #FF0000;
    text-decoration: none;
}

#right
{
    float: right;
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
}

#right a:hover
{
    color: #FF0000;
    text-decoration: none;
}

#center
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 240px;
    padding-top: 10px;
    padding-right: 10px;
}

#center H4
{
    font-size: 12px;
    color: #000000;

}

#center H1
{
    font-size: 28px;
    color: #000000;
    padding-bottom: 10px
}

#center a
{
    color: #000000;
}

#center a:hover
{
    color: #FF0000;
    text-decoration: none;
}

#center p {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

#center li {
    padding-bottom: 5px;
}

#center h2 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: #0041A3;
}

.date {
    text-align: right;
    color: #0041A3;
    font-size: 11px;
    background-color: #fff;
}

.date a {
    color: #0041A3;
    background-color: #fff;
}

#center .pic
{
    float: left;
    margin: 5px;
}

#center .pic1
{
    float: right;
    margin: 5px;
}

#metamorph1 {
    clear: both;
    height: 12px;
    padding: 20px 0;
    background: url(images/footer.gif) repeat-x;
    text-align: center;
    margin-left: 0px;
}

#metamorph1 p {
    margin: 0;
    color: #ffffff;
}

#metamorph1 a {
    color: #ffffff;
}

#metamorph1 a:hover {
    color: #FF0000;
}
.small p {
    margin: 0;
    font-size: 11px;
}
.boxed {
    margin-bottom: 20px;
}

.boxed .title {
    height: 33px;
    padding: 13px 0 0 20px;
    background: url(images/small.jpg) repeat-x;
    font-size: 12px;
    color: #FFFFFF;
}

.boxed .content2 {
    padding: 10px;
}

#rightimg {
    border: none;
    float: right;
}

#login {
}

#login form {
}

#login fieldset {
    border: none;
}

#login legend {
    display: none;
}

#login label {
    font-size: x-small;
    font-weight: bold;
}

#login input {
    margin-bottom: 5px;
}

#text1, #text2 {
    width: 150px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}


#updates ul {
    margin: 0;
    list-style: none;
}

#updates h3 {
    margin: 0;
    font: bold x-small Verdana, Arial, Helvetica, sans-serif;
}

#updates p {
    margin-bottom: 1.4em;
    line-height: normal;
}

#wiki ul {
    margin: 0;
    list-style: none;
}

#links ul {
    margin: 0;
    list-style: none;
}

#llvmlogo {
    border: none;
    margin-left: 32px;
}

#llvmlogo a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#llvmlogo a:visited {
    color: #FFFFFF;
}

/* begin styles for RSS Feed */

.rss-item  {
    list-style:none;
    padding-bottom:1em;
}
.rss-date {
    font-size: 85%;
    font-weight : bold;
} 

/*
.rss-box {
    font-family:small tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
}
.rss-items {
    margin-top:0px;
    margin-left:0px;
    padding:0px; 0px;
}
p.rss-title {
    font-size: small;
    padding:0em;
}
.rss-title {
    font-size: small;
    font-weight:bold;
    margin: 0px;
    padding:0em;
    text-align: left;
}

.rss-item  {
    font-size: smaller;
    font-weight : normal;
    list-style:none;
    padding-bottom:1em;
}

.rss-item a {
}
	
.rss-item a:visited {
}

.rss-date {
    font-size: 85%;
    font-weight : bold;
} 
*/
